
@charset "utf-8";
body{font:14px/24px \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;*font-family:\5B8B\4F53;background-color:#191027;color:#eae2f7;}
body,html{overflow-x:hidden;}
a,body,dd,div,dl,dt,em,form,h1,h2,h3,h4,h5,h6,html,img,input,label,li,ol,p,select,span,ul{margin:0;padding:0}
input{border:none;border:0;outline:none;outline:0}
a{color:#eae2f7;text-decoration:none;cursor:pointer;outline:none}
a:hover{text-decoration:none;color:#f60;}
li,ol,ul{list-style:none}
em,i{font-style:normal}
img{border:0}
.cf{*zoom:1}
.cf:after{content:'\20';display:block;height:0;clear:both}
/*com*/
.none{display:none}
.fl{display:inline;float:left;}
.fr{float:right;display:inline}
.ct{text-align:center;}
.pr{position:relative}
.indent{text-indent:-9999px;}
*html{background-image:url(#);background-attachment:fixed}
.ov{overflow:hidden}

.w{margin:0 auto;width:1000px;}

/* cj  start*/
.rotatebg{width: 624px;height: 624px;;position: relative;margin: 50px auto 0}
.rotatebg .rotate{width: 400px;height: 400px;position: absolute;left: 0;top: 0;}
.rotatebg .btn{position: absolute;width:120px;height: 148px;left: 140px;top:100px;text-indent: -999px }
.dest{text-align: center;margin: 20px 0;}
/* cj  end*/